.text-end::after {
    content: "/";
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 1s steps(10, end) forwards;
    opacity: 1;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fade-in 1s steps(10, end) forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.move-right {
    animation: move-right 1s steps(10, end) forwards;
}

@keyframes move-right {
    from {
        transform: translateX(-1em);
    }

    to {
        transform: translateX(0);
    }
}

.move-up {
    animation: move-up 1s steps(10, end) forwards;
}

@keyframes move-up {
    from {
        transform: translateY(1em);
    }

    to {
        transform: translateY(0);
    }
}

.shake {
    animation: shake 1s steps(1, end) infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-0.2dvh, 0.3dvh);
    }
    20% {
        transform: translate(0.3dvh, -0.2dvh);
    }
    30% {
        transform: translate(-0.3dvh, -0.1dvh);
    }
    40% {
        transform: translate(0.1dvh, 0.3dvh);
    }
    50% {
        transform: translate(-0.2dvh, -0.3dvh);
    }
    60% {
        transform: translate(0.3dvh, 0.1dvh);
    }
    70% {
        transform: translate(-0.1dvh, -0.2dvh);
    }
    80% {
        transform: translate(0.2dvh, 0.3dvh);
    }
    90% {
        transform: translate(-0.3dvh, 0.1dvh);
    }
    100% {
        transform: translate(0, 0);
    }
}

.fade-in.move-right {
    animation: fade-in 1s steps(10, end) forwards, move-right 1s steps(10, end) forwards;
}
