@font-face {
    font-family: dot;
    src: url(../assets/font/marukiya.ttf);
}

@font-face {
    font-family: mincho;
    src: url(../assets/font/KH-Dot-Hibiya-32.ttf);
}

* {
    /* サイズ */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;

    /* 画像 */
    image-rendering: pixelated;

    /* 文字 */
    font-size: 6dvh;
    font-family: dot, mincho, serif;

    /* 選択系 */
    user-select: none;
    touch-action: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: dot;
    font-size: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    background-color: #111;

    /* filter: sepia(0.1); */
}

#container {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    aspect-ratio: 8/5;
    height: 90%;
    width: auto;
    transition: opacity 0.3s ease;

    overflow: hidden;

    background-color: whitesmoke;

    box-shadow: 0px 0px 24dvh 1dvh rgba(255, 255, 255, 0.35);
}

#error {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    position: absolute;
}

@media (orientation: portrait) {
    #container {
        opacity: 0;
        pointer-events: none;
    }

    #error {
        opacity: 1;
    }
}

.loading {
    position: absolute;
    color: aliceblue;
}

#cover {
    position: absolute;
    height: 90%;
    aspect-ratio: 8/5;

    z-index: 1000;

    pointer-events: none;
}

#texture {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url(../assets/images/braun.webp);
    background-size: 0.4%;
    /* mix-blend-mode: multiply; */

    pointer-events: none;

    opacity: 0.04;

    /* animation: b 0.1s infinite; */

    pointer-events: none;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(152, 251, 152, 0.6);
    mix-blend-mode: screen;
    opacity: 0.6;

    pointer-events: none;

    z-index: 1001;

    animation: b 0.1s infinite;

    box-shadow: inset 0px 0px 32dvh 3dvh rgba(0, 0, 0, 1);
    pointer-events: none;
}

#blur {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #111c;
    opacity: 0.2;

    pointer-events: none;
}

@keyframes b {
    0% {
        opacity: 0.35;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.35;
    }
}

.vale {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #111;

    z-index: 10000;
}
