@font-face {
    font-family: dot;
    src: url(../assets/font/marukiya.ttf);
}

@font-face {
    font-family: mincho;
    src: url(../assets/font/KH-Dot-Hibiya-32.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    image-rendering: pixelated;

    font-size: 6dvh;

    font-family: dot, serif;

    user-select: none;
    touch-action: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: dot;
    font-size: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    background-color: #111;

    /* filter: sepia(0.1); */
}

#container {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    aspect-ratio: 4/3;
    height: 100%;
    width: auto;
    transition: opacity 0.3s ease;

    overflow: hidden;

    background-color: whitesmoke;
}

#error {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    position: absolute;
}

@media (orientation: portrait) {
    #container {
        opacity: 0;
        pointer-events: none;
    }

    #error {
        opacity: 1;
    }
}

#texture {
    position: absolute;
    height: 100%;
    aspect-ratio: 4/3;

    background-image: url(../assets/images/braun.webp);
    background-size: 0.3%;
    /* mix-blend-mode: multiply; */

    pointer-events: none;

    opacity: 0.04;

    z-index: 1000;

    /* animation: b 0.1s infinite; */
}

#overlay {
    position: absolute;
    height: 100%;
    aspect-ratio: 4/3;

    background-color: greenyellow;
    opacity: 0.4;
    mix-blend-mode: screen;

    pointer-events: none;

    z-index: 1001;

    animation: b 0.1s infinite;

    box-shadow: inset 0px 0px 6dvh 0px rgba(0, 0, 0, 1);
}

@keyframes b {
    0% {
        opacity: 0.38;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.38;
    }
}
